# LiveKit configuration
LIVEKIT_URL=wss://aristotle-wzqiv07g.livekit.cloud
LIVEKIT_API_KEY=APIg3yHX9xEd4VC
LIVEKIT_API_SECRET=GqgS9JFJECRwxw7fiujna8SEjJbUe5APQCSw1SWywzW

# Grace Authentication
# Generate a SHA-256 hash of your password and put it here
# You can generate it using: echo -n "your-password" | sha256sum
# Default is hash for "grace2025today" - CHANGE THIS IN PRODUCTION!
GRACE_PASSWORD_HASH=df5d0a80104ff8eae2ea104149e5321113a2d194aa1c09029dc987b4114f882f
