# LiveKit configuration
LIVEKIT_URL=wss://aristotle-wzqiv07g.livekit.cloud
LIVEKIT_API_KEY=APIg3yHX9xEd4VC
LIVEKIT_API_SECRET=GqgS9JFJECRwxw7fiujna8SEjJbUe5APQCSw1SWywzW

# Grace Authentication (Legacy)
GRACE_PASSWORD_HASH=df5d0a80104ff8eae2ea104149e5321113a2d194aa1c09029dc987b4114f882f

# Firebase Configuration
# ----------------------
# AUTO-FILLED from your console snippet:
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyBwzZ30SqR7gYwal3JLf499lk6i9Q8UO_I
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=the-invitatation-temp.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=the-invitatation-temp
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=the-invitatation-temp.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=364661773732
NEXT_PUBLIC_FIREBASE_APP_ID=1:364661773732:web:b0429e4ed810c134a69d31
